
    <form><br>

        <div class="form-group">
            <label for="">Operando A</label>

            <input type="number" class="form-control" 
            placeholder="Escribe operando A" 
            [(ngModel)] = "operandoA" name="operandoA">

        </div><br>

        <div class="form-group">
            <label for="">Operando B</label>

            <input type="number" class="form-control" 
            placeholder="Escribe operando B" 
            [(ngModel)] = "operandoB" name="operandoB">

        </div>
        <br>
        <button type="submit" class="btn btn-primary" 
        (click)="sumar()">Sumar</button>  

    </form>
